$fade-duration: .25s;
$main-color: #157946;
$secondary-color: #ec1b24;

$light-color: white;
$dark-color: black;


@keyframes slide-down {
    from    { transform: translateY(-170%); }
    to      { transform: translateY(0%); }
}

@keyframes slide-right {
    from    { transform: translateX(-120%); }
    to      { transform: translateX(0%); }
}

@font-face {
    font-family: 'Num';
    src: url('num.ttf');
}

@font-face {
    font-family: 'font';
    src: url(num.ttf);
    font-weight: 900;
}

@keyframes zoom-in {
    0% {     
        clip-path: circle(0 at 40% 40%);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        clip-path: circle(60vw at 50% 50%);
    }
}

@keyframes advance {
    0%      { transform: scaleX(0); }
    100%    { transform: scaleX(1); }
}