body.main {
    &.vertical {
        #header { font-size: 3vh; }
    }

    &.horizontal {
        #header { font-size: 4vh; }
    }

    #header {
        display: flex;
        color: white;
        background-color: black;
        text-align: center;
        align-items: center;
        justify-content: center;
        
        border-bottom: 3px solid var(--main-color);
    }
}