
#tickets {
    text-align: center;
    z-index: 3;
    align-items: center;
    background: white;
    padding: 0;
    font-family: 'Num';
    display: grid;
}


#tickets {
    button {
        display: flex;
        justify-content: space-around;
        height: 100%;
        padding: 0; margin: 0;
        position: relative;
        border: none;
        align-items: center;
        font-family: inherit;
        overflow: hidden;

        &.touched { 
            filter: brightness(1.2);
            transform: scale(.95);
        }

        .num {
            display: block;
            color: white;
            line-height: 100%;
        }
    
        .nombre { color: white; }

        .turno {
            background-color: white;
        }

        i[class^="icon-"]::before {
            color: white;
            position: absolute;
            left: -5%;
            opacity: 0.3;
        }
     }
}



/* ==== REJILLAS BOTONES    */
body {
    /*================================================== 
    / ================ HORIZONTAL ======================
    ==================================================*/
    &.horizontal {
        &.ncolas-1 #tickets {
            grid-template: 1fr / 1fr;
            .nombre { font-size: 5vw;}
            .num    { font-size: 18vw; }
            button  { flex-direction: column; }
            i[class^="icon-"]::before { font-size: 25vw; top: 60%; }
        }

        &.ncolas-2 #tickets {
            grid-template: repeat(2, 1fr) / 1fr;
            .nombre { font-size: 5vw;}
            .num    { font-size: 14vw; }
            button  { flex-direction: row; }
            i[class^="icon-"]::before { font-size: 20vw; top: 30%; }
        }
        
        &.ncolas-3 #tickets {
            grid-template: repeat(3, 1fr) / 1fr;
            .nombre { font-size: 4vw; }
            .num    { font-size: 10vw; }
            button  { flex-direction: row; }
            i[class^="icon-"]::before { font-size: 18vw; top: -5%; }
        }
        
        &.ncolas-4 #tickets {
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            .nombre { font-size: 3vw; }
            .num    { font-size: 10vw; }
            button  { flex-direction: column; }
            i[class^="icon-"]::before { font-size: 20vw; top: 30%; }
        }
        
        &.ncolas-5 #tickets {
            grid-template: repeat(2, 1fr) / repeat(12, 1fr);
            .nombre { font-size: 2.5vw; }
            .num    { font-size: 9vw; }
            button {
                flex-direction: column;
                &:nth-child(-n+3) { grid-column: span 4; }
                &:nth-child(n+4) { grid-column: span 6; }
            }
            i[class^="icon-"]::before { font-size: 20vw; top: 30%; }
        }
        
        &.ncolas-6 #tickets {
            grid-template: repeat(2, 1fr) / repeat(3, 1fr);
            .nombre { font-size: 2.5vw; }
            .num    { font-size: 9vw; }
            button  { flex-direction: column; }
            i[class^="icon-"]::before { font-size: 20vw; top: 30%; }
        }
    }

    /*================================================== 
    / ================ VERTICAL ======================
    ==================================================*/
    &.vertical {
        &.ncolas-1 #tickets {
            grid-template: 1fr / 1fr;
            .nombre { font-size: 8vh;}
            .num    { font-size: 20vh; }
            button  { flex-direction: column; }
            i[class^="icon-"]::before { font-size: 32vh; top: 50%; }
        }

        &.ncolas-2 #tickets {
            grid-template: repeat(2, 1fr) / 1fr;
            .nombre { font-size: 5vh;}
            .num    { font-size: 12vh; }
            button  { flex-direction: row; }
            i[class^="icon-"]::before { font-size: 20vh; top: 30%; }
        }
        
        &.ncolas-3 #tickets {
            grid-template: repeat(3, 1fr) / 1fr;
            .nombre { font-size: 5vh; }
            .num    { font-size: 10vh; }
            button  { flex-direction: row; }
            i[class^="icon-"]::before { font-size: 18vh; top: -5%; }
        }
        
        &.ncolas-4 #tickets {
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            .nombre { font-size: 4vh; }
            .num    { font-size: 10vh; }
            button  { flex-direction: column; }
            i[class^="icon-"]::before { font-size: 20vh; top: 30%; }
        }
        
        &.ncolas-5 #tickets {
            grid-template: repeat(2, 1fr) / repeat(12, 1fr);
            .nombre { font-size: 3vh; }
            .num    { font-size: 9vh; }
            button {
                flex-direction: column;
                &:nth-child(-n+3) { grid-column: span 4; }
                &:nth-child(n+4) { grid-column: span 6; }
            }
            i[class^="icon-"]::before { font-size: 20vh; top: 30%; }
        }
        
        &.ncolas-6 #tickets {
            grid-template: repeat(2, 1fr) / repeat(3, 1fr);
            .nombre { font-size: 3vh; }
            .num    { font-size: 9vh; }
            button  { flex-direction: column; }
            i[class^="icon-"]::before { font-size: 20vh; top: 30%; }
        }
    }

}